{% extends 'blog/base.html' %}

{% block content %}
   {% for post in posts %}
       <div class="post">
           <div class="date">
               {{ post.published_date }}
           </div>
           <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
           <p>{{ post.text|linebreaksbr }}</p><span style="background-color:yellow">Watson Says:</span>
           <p>Translation: {{ post.obj2}}</p>
           <p>Word Count: {{ post.w_count}} | Letter Count: {{ post.c_count}}</p>
           <p>{% if post.firstTone %}Tone name: {{ post.firstTone }} | Score:{{ post.firstScore }} {% endif %} </p>
           <p>{% if post.secondTone %}Tone name: {{ post.secondTone }} | Score:{{ post.secondScore }} {% endif %}</p>

       </div>
   {% endfor %}
{% endblock %}